<!-- TEST Embeded Files Test that works will use this to display pi cameras, just need to change ip address and port number -->
    <section id="Test">
        <div class="row">
        <div class="container">
            <object data="http://10.2.0.165:3000/" height="400" width="720"><embed height="400" src="http://10.2.0.165:3000/" width="720"></embed>Error: Embedded data could not be displayed.</object> <!-- Edit this to include correct url for cameras -->
        </div>
        </div>
    </section>