<article>
    {{#info}}
      <div class="container">
        <div class="row" >
          <div class="col-lg-8 col-md-10 mx-auto">
          {{{body}}}
          </div>
        </div>
      </div>
      {{/info}}
    </article>
    <hr>